$color-bg: #161b22;
$color-box-content: #0d1117;
$color-box-shadow-content: #0000005b;
$color-text-title: #c9d1d9;
$color-dot-spinner: #6c6ce5;
$color-btn-bg: #ff4c60;
$color-btn-text: #fff;
$color-box-shadow-btn: rgba(0, 0, 0, 0);
$color-text-pri: #c9d1d9;
$color-text-sec: #8b949e;
